.AboutArt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .Frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 80vw;
    min-height: 100vh;

    .Line {
      width: 75vw;
      height: 2px;
      background-color: black;
      margin: 30px 0;
    }

    .Foot {
      display: flex;
      justify-content: right;
      width: 72vw;

      .Back {
        cursor: pointer;
        margin-bottom: 40px;
        width: 80px;
        height: 32px;
        background-color: #6e6e6e;
        border: #585858 solid 2px;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: bold;
        color: white;
      }
    }

    .Content {
      width: 75vw;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      list-style: none;
      justify-items: center;
      column-gap: 0px;

      .Container {
        display: flex;
        flex-direction: column;
        width: 37vw;
        height: 75vh;

        .Image {
          width: 148vw;
          transition: transform 0.5s;

          .Item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 37vw;
            height: 70vh;
            float: left;
            text-align: center;
            font-size: 5rem;
            img {
              max-width: 34vw;
              max-height: 67vh;
            }
          }
        }
        .buttons {
          height: 5vh;
          text-align: center;

          .gotodif {
            width: 40px;
            height: 4px;
            outline: none;
            border: none;
            margin: 0 15px;
            cursor: pointer;
            &:hover {
              background-color: #bdbdbd;
            }
          }
        }
      }

      .VerticalLine {
        width: 2px;
        height: 75vh;
        background-color: #a4a4a4;
      }

      .Info1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 37vw;
        height: 75vh;
        .Title {
          width: 25vw;
          color: #610b0b;
          font-size: 1.8rem;
          font-weight: bold;
          margin-bottom: 70px;
        }
        .Info1_More {
          width: 25vw;
          display: grid;
          grid-template-columns: 1fr 1fr;
          row-gap: 20px;
          column-gap: 2px;
          font-size: 1.1rem;
          .More1 {
            width: 90px;
            color: #585858;
            font-weight: bold;
          }
          .More2 {
            width: 280px;
          }
        }
      }

      .Info2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 37vw;
        height: 75vh;
        .More1 {
          width: 28vw;
          color: #610b0b;
          font-weight: bold;
          font-size: 1.1rem;
          margin-bottom: 30px;
        }
        .More2 {
          width: 28vw;
          min-height: 25vw;
        }
        .More3 {
          width: 28vw;
          min-height: 10vw;
        }
      }
    }
  }
}
