.Art {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .Frame {
    background-color: black;
    border-radius: 15px;
    width: 1300px;
    height: 710px;

    .TitleFrame {
      display: flex;
      flex-direction: row;
      align-items: end;
      //width: auto;
      margin-top: 15px;
      padding-left: 40px;
      .ArtName {
        font-size: 1.6rem;
        font-weight: bold;
        color: white;
        width: 1150px;
      }
      .SellStatus {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 25px;
        font-weight: bold;
        background-color: pink;
        border-radius: 5px;
      }
    }

    .ImageFrame {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1300px;
      height: 620px;

      .Image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1200px;
        height: 580px;
        background-color: white;
        font-size: 2rem;
        color: #585858;
        .background {
          position: relative;
          width: 1200px;
          height: 580px;
          object-fit: cover;
        }
        .squareframe {
          position: absolute;
        }
        .thumbnail {
          position: absolute;
          max-width: 1050px;
          max-height: 450px;
        }
      }

      .Menu {
        display: flex;
        flex-direction: column;
        align-items: end;
        width: 65px;
        height: 530px;

        .Icon {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-bottom: 7px;
          width: 46px;
          height: 46px;
          background-color: white;
          color: black;
          border-radius: 23px;
          &:hover {
            background-color: #d8d8d8;
          }
        }

        .Name {
          margin-bottom: 20px;
          text-align: center;
          width: 46px;
          height: auto;
          font-size: 0.8rem;
          color: white;
        }

        .NeedBubbler {
          display: block;
          cursor: pointer;
          padding: 0;
          margin-bottom: 5px;
          border: 0;
          width: 46px;
          height: 46px;
          background-color: white;
          color: black;
          border-radius: 23px;
          line-height: 46px;

          img {
            width: 46px;
            height: 46px;
            border-radius: 50%;
            object-fit: cover;
          }

          .Bubbler {
            display: none;
          }

          &:hover {
            background-color: #d8d8d8;
          }

          &:focus {
            background-color: #d8d8d8;
            .Bubbler {
              background-color: white;
              z-index: 50;
              position: relative;
              display: block;
              border: 1px solid black;
              border-radius: 4px;
              width: 200px;
              height: 100px;
              left: -220px;
              top: -60px;
              box-shadow: 1.5px 1.5px 1.5px 1.5px #848484;
              .AuthorName {
                margin: 10px 0 0 0;
                color: #610b0b;
                font-weight: bold;
                font-size: 1.3rem;
                height: 30px;
              }
              .SchoolName {
                font-size: 1.2rem;
              }
              &::before {
                content: "";
                position: absolute;
                border-style: solid;
                border-width: 11px 0 11px 14px;
                border-color: transparent black;
                display: block;
                width: 0;
                z-index: 0;
                right: -15px;
                top: 9px;
              }
              &::after {
                content: "";
                position: absolute;
                border-style: solid;
                border-width: 10px 0 10px 15px;
                border-color: transparent white;
                display: block;
                width: 0;
                z-index: 1;
                right: -15px;
                top: 10px;
              }
            }
          }
        }
      }
    }

    .ButtonFrame {
      display: flex;
      justify-content: right;
      align-items: center;
      width: 1270px;
      .OpenComment {
        cursor: pointer;
        margin-bottom: 10px;
        border: none;
        outline: none;
        background-color: transparent;
        font-weight: bold;
        font-size: 1rem;
        color: #f5f6ce;
        &:hover {
          color: #a4a4a4;
        }
      }
    }
  }

  .CommentFrame {
    background-color: white;
    border-radius: 15px;
    width: 1300px;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;

    .SubTitle {
      display: flex;
      align-items: center;
      width: 1180px;
      height: 30px;
      margin-top: 10px;
      color: #585858;
      margin-bottom: 10px;
    }

    .Line {
      width: 1180px;
      height: 2px;
      background-color: #6e6e6e;
    }

    .SendComment {
      margin-top: 10px;
      padding: 10px 0;
      input {
        width: 1100px;
        height: 30px;
        background-color: #d8d8d8;
        border: none;
        outline: none;
        border-radius: 10px;
        padding-left: 10px;
        font-size: 1rem;
        margin: 0 10px 10px 0;
        float: left;
      }
      button {
        cursor: pointer;
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0;
        margin: 0;
      }
    }

    .CommentContent {
      margin-bottom: 50px;
    }
  }
}
