.Bulletin {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  background-color: white;
  width: 80vw;
  min-height: 90vh;
  padding-bottom: 20px;
  border: 1px solid #d8d8d8;

  .Line {
    width: 75vw;
    height: 2px;
    background-color: black;
  }

  .Pages {
    button {
      cursor: pointer;
      outline: none;
      border: none;
      background-color: transparent;
      margin: 10px;
      &:hover {
        color: #bf9e27;
      }
      &:focus {
        color: #bf9e27;
      }
    }
  }

  .Filter {
    margin: 20px 0;
    height: 30px;
    width: 200px;
    background-color: white;
    border: 2px solid #585858;
    font-size: 0.8rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    .Category {
      width: 160px;
      margin-left: 5px;
      border: none;
      outline: none;
    }
    button {
      cursor: pointer;
      border: none;
      outline: none;
      background-color: transparent;
    }
  }

  .Title {
    display: flex;
    flex-direction: row;
    align-items: end;
    width: 75vw;
    .Letter {
      width: 70vw;
    }
    .CreateButton {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70px;
      height: 30px;
      background-color: #610b0b;
      color: white;
      font-weight: bold;
      border-radius: 5px;
      border: 2px solid #bf9e27;
      margin-bottom: 5px;
    }
  }

  .StartContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 75vw;
    height: 30px;

    div {
      font-weight: bold;
    }
    .info1 {
      text-align: center;
      width: 10vw;
    }
    .info2 {
      text-align: center;
      width: 50vw;
    }
    .info3 {
      text-align: center;
      width: 15vw;
    }
    .info4 {
      text-align: left;
      width: 43vw;
      padding-left: 2vw;
    }
    .info5 {
      text-align: center;
      width: 15vw;
    }
  }

  .Content {
    min-height: 75vh;
  }

  .Foot {
    display: flex;
    justify-content: right;
    width: 72vw;
    margin: 5px 0;

    .Back {
      cursor: pointer;
      width: 80px;
      height: 32px;
      background-color: #6e6e6e;
      border: none;
      outline: none;
      border: #585858 solid 1px;
      border-radius: 5px;
      font-size: 1rem;
      color: white;
      margin-left: 10px;
    }
  }
}

.Diary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 240px;
  background-color: white;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  border: 3px solid #610b0b;
  outline: none;

  p {
    font-weight: bold;
  }

  input {
    width: 260px;
    height: 35px;
    font-size: 1.1rem;
    margin-bottom: 15px;
    border-radius: 8px;
    background-color: #d8d8d8;
    outline: none;
    border: none;
  }

  .sub {
    width: 270px;
    display: flex;
    justify-content: center;
    .submit {
      margin-top: 20px;
      background-color: #610b0b;
      color: white;
      font-weight: bold;
      font-size: 1rem;
      border-radius: 5px;
      border: 2px solid #bf9e27;
      width: 95px;
      height: 40px;
      cursor: pointer;
    }
  }
}

.Panorama {
  display: flex;
  flex-direction: column;
  justify-content: center;
  //align-items: center;
  .project {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: aqua;
    //project-section
    .frame {
      display: flex;
      align-items: center;
      height: 500px;
      width: 100%;
      background-color: red;
      .animation {
        display: flex;
        flex-direction: row;
        background-color: aliceblue;
        .image {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 400px;
          height: 400px;
          background-color: antiquewhite;
          margin-right: 100px;
          img {
            max-width: 400px;
            max-height: 400px;
          }
        }
      }
    }
  }
}
