.MyProject {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  background-color: white;
  width: 65vw;
  min-height: 100vh;
  padding: 30px 0;
  //padding-bottom: 20px;

  .Line {
    width: 55vw;
    height: 1px;
    background-color: black;
    margin: 15px 0 30px 0;
  }

  .Members {
    margin-top: 30px;
    p {
      font-weight: bold;
    }
    .AboutMember {
      display: flex;
      flex-direction: row;
      align-items: center;
      .PlusMember {
        color: #610b0b;
        margin-right: 10px;
        cursor: pointer;
        &:hover {
          color: #bf9e27;
        }
      }
      .PrevMembers {
        margin: 0 5px;
        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: center;
        color: black;
        img {
          width: 35px;
          height: 35px;
          margin: 3px;
          border-radius: 50%;
          object-fit: cover;
          border: 2px solid black;
        }
      }
    }
  }

  .Buttons {
    display: flex;
    flex-direction: row;
    justify-content: right;
    .SubButtons {
      cursor: pointer;
      width: 70px;
      height: 32px;
      background-color: #6e6e6e;
      border: none;
      outline: none;
      border-radius: 5px;
      font-size: 1rem;
      font-weight: bold;
      color: white;
      margin-left: 10px;
      margin-bottom: 30px;
    }
  }

  .gotoDiary {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
    color: #610b0b;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0 0 30px 0;
    &:hover {
      color: #bf9e27;
    }
  }

  .Title {
    display: flex;
    flex-direction: row;
    align-items: end;
    width: 55vw;
    .Letter {
      width: 55vw;
    }
    .nowinvited {
      width: 130px;
      outline: none;
      border: none;
      margin-right: 10px;
      margin-bottom: 5px;
      font-size: 0.9rem;
      color: #585858;
      text-decoration: underline;
      cursor: pointer;
      &:hover {
        color: #a4a4a4;
      }
    }
    .CreateButton {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 110px;
      height: 30px;
      background-color: #610b0b;
      color: white;
      font-weight: bold;
      border-radius: 5px;
      border: 2px solid #bf9e27;
      margin-bottom: 5px;
    }
  }

  .Guide {
    width: 55vw;
    margin-bottom: 5px;
    color: #6e6e6e;
    font-weight: bold;
  }

  .ArtList {
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    row-gap: 30px;
    width: 55vw;
    padding: 0;
    list-style: none;

    .SubArtButton {
      width: 260px;
      height: 210px;
      outline: none;
      border: none;
      padding: 0;
      border-radius: 10px;
      background-color: transparent;
      cursor: pointer;
      &:focus {
        border: 4px solid #bf9e27;
      }
    }
  }

  .InviteContent {
    display: flex;
    width: 55vw;
    min-height: 50vh;
    flex-direction: row;
    //justify-content: center;
    align-items: center;
    padding: 20px;
    border: 3px solid #6e6e6e;
    .intro {
      width: 27vw;
      margin-right: 1vw;
    }
    img {
      max-width: 27vw;
      max-height: 27vw;
    }
  }

  .InviteButtons {
    display: flex;
    width: 55vw;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-top: 30px;
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 20px;
      font-size: 0.8rem;
      .invite {
        cursor: pointer;
        width: 60px;
        height: 60px;
        border-radius: 30px;
        margin-right: 20px;
        padding: 0;
        outline: none;
        border: none;
        background-color: #f2f2f2;

        img {
          width: 60px;
          height: 60px;
          border-radius: 30px;
        }
        .gmail {
          width: 40px;
          height: 40px;
          border-radius: 20px;
        }
      }
    }
  }

  .Content {
    min-height: 75vh;
    form {
      display: flex;
      width: 55vw;
      margin-top: 20px;
      flex-direction: column;
      text-align: left;

      .see {
        margin: 10px 0;
        max-width: 150px;
        max-height: 150px;
      }
      .plussee {
        margin: 10px 20px 10px 0;
        max-width: 100px;
        max-height: 100px;
        float: left;
      }

      div {
        margin-right: 5vw;
      }

      p {
        font-weight: bold;
      }

      input,
      select {
        width: 250px;
        height: 35px;
        font-size: 1.1rem;
        margin-bottom: 15px;
        border-radius: 8px;
        background-color: #d8d8d8;
        outline: none;
        border: none;
      }

      .Check {
        width: 50px;
      }

      .CheckWord {
        width: 50px;
        background-color: white;
        color: black;
      }

      .Bundle {
        display: flex;
        flex-direction: row;
        width: 55vw;
        margin-right: 0;
        margin-bottom: 20px;
        .Image {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30vw;
          height: 40vh;
          background-color: white;
          font-size: 2rem;
          color: #585858;
        }
      }
      textarea {
        margin-bottom: 20px;
        font-size: 1.1rem;
        width: 50vw;
        height: 300px;
        border-radius: 8px;
        background-color: #d8d8d8;
        border: none;
        outline: none;
      }

      .WriteWord {
        height: 100px;
      }

      .Pictures {
        display: flex;
        flex-direction: row;
        align-items: end;
        margin-bottom: 30px;
        .Thumbnail {
          width: auto;
          height: auto;
          border-radius: 0;
          img {
            max-width: 300px;
            max-height: 300px;
          }
        }
        .Images {
          display: flex;
          flex-direction: row;
          img {
            max-width: 100px;
            max-height: 70px;
            float: left;
            margin-right: 20px;
          }
        }
        .InviteInfo {
          padding-left: 50px;
        }
      }
    }
  }
  .submit {
    margin-left: 47vw;
    background-color: #610b0b;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 5px;
    border: 2px solid #bf9e27;
    width: 100px;
    height: 40px;
    cursor: pointer;
    margin-bottom: 30px;
  }
  .call {
    margin-top: 80px;
    font-size: 0.8rem;
    color: red;
    width: 55vw;
  }
  .warn {
    margin-bottom: 10px;
    text-align: right;
    font-size: 0.8rem;
    color: red;
    width: 55vw;
  }
}

.Diary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Modal,
.InviteModal {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 350px;
  background-color: white;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  border: 3px solid #610b0b;
  outline: none;

  p {
    font-weight: bold;
  }

  input {
    width: 260px;
    height: 35px;
    font-size: 1.1rem;
    margin-bottom: 15px;
    border-radius: 8px;
    background-color: #d8d8d8;
    outline: none;
    border: none;
  }

  .sub {
    width: 270px;
    display: flex;
    justify-content: center;
    .submit {
      margin-top: 20px;
      background-color: #610b0b;
      color: white;
      font-weight: bold;
      font-size: 1rem;
      border-radius: 5px;
      border: 2px solid #bf9e27;
      width: 120px;
      height: 40px;
      cursor: pointer;
    }
  }
}

.InviteModal {
  width: 400px;
  height: 280px;
}
