.Container {
  .Banner {
    position: relative;
    z-index: 1;
    width: 300vw;
    transition: transform 0.5s;
    .Item {
      width: 100vw;
      float: left;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .Buttons {
    position: absolute;
    left: 41.5%;
    top: 95%;
    z-index: 10;
    .gotodif {
      width: 60px;
      height: 4px;
      outline: none;
      border: none;
      //background-color: #585858;
      margin: 0 15px;
      cursor: pointer;
      &:hover {
        background-color: #bdbdbd;
      }
    }
  }
}
