.NoticeItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  border-bottom: 1px solid black;
  color: black;
  padding: 10px 0;
  .Date {
    text-align: left;
    padding-left: 20px;
    margin-bottom: 5px;
    font-size: bold;
    color: #585858;
  }
  .Contents {
    text-align: left;
    padding-left: 20px;
  }
}
