.SubArtItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 200px;
  background-color: white;
  //margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #d8d8d8;

  .image {
    width: 250px;
    height: 150px;
    img {
      border-radius: 10px 10px 0 0;
      width: 250px;
      height: 150px;
      object-fit: cover;
    }
  }
  .name {
    width: 250px;
    height: 50px;
    padding: 10px 0 0 20px;
    color: black;
    font-size: 1rem;
    text-align: left;
  }
}
